.Card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid $primary;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  transition: all 0.25s;

  h2.title {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #000;
  }

  p.description {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    min-height: 60px;
    color: $secondary;
  }
  

  &:hover,
  &:focus,
  &:active {
    color: $primary;
    box-shadow: inset 0px 0px 15px -5px $primary;
    transition: all 0.25s;
  }
  .intro {
    font-weight: normal;
    margin: 0 0 15px 0;
  }

  @media (max-width: 800px) {
    width: calc(100% - 2rem);
    flex-direction: column;
  }
}