
.Hero {
  margin-bottom: 40px;
  position: relative;
  background: #327675;
  color: white;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  &--background {
    width: auto;
    max-height: 300px;
  }
  &--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 50px;
    h2 {
      margin: -40px 0 0 0;
    }
    @media (max-width: 720px) {
      display: none;
    }
  }
}