.LatestTweet {
  max-width: 600px;
  margin-top: 3rem;
  margin-bottom: -90px;
  padding: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  iframe {
    margin-top: -81px !important;
  }
  &-bottom {
    background: white;
    width: 100%;
    position: relative;
    height: 120px;
    margin-top: -120px;
  }
}