@import "./variables.scss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $secondary;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: $link;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// components
@import "../components/Card/style.scss";
@import "../components/Grid/style.scss";
@import "../components/Header/style.scss";
@import "../components/LatestTweet/style.scss";